name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Azure Container Registry Login
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_LOGIN_SERVER }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
    
    - name: Build and push Docker image
      env:
        ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
      run: |
        # Sanitize the login server variable to remove any trailing newlines/returns
        LOGIN_SERVER=$(echo "${ACR_LOGIN_SERVER}" | tr -d '\r\n')
        
        docker build . -t $LOGIN_SERVER/sample-node-app:${{ github.sha }} -t $LOGIN_SERVER/sample-node-app:latest
        docker push $LOGIN_SERVER/sample-node-app:${{ github.sha }}
        docker push $LOGIN_SERVER/sample-node-app:latest
